* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
  outline: none;
}

header {
  background-color: #d3d0cb;

}

img {
  width: 150px;
  padding: 0px 0px 5px 0px
}

 nav a, li{
  margin: 5px;
  padding: 0px 5px 10px 10px;
  text-decoration: none;
  color: #1e2019;
  font-size: x-small;
}

main {
  background-color: #1e2019;
  color: white;

}

h1 {
  padding: 20px 0px 5px 0px;
  font-size: x-large;
}
form {
  padding: 10px;
  margin: 10px 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  font-size: x-small;

}
p {
  margin: 10px;
}

h3 {
  padding: 10px;
}
div a {
  color: white
}

div input{
  background-color: #E2C044;
  padding: 5px 15px;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
}

div :checked {
  accent-color: #587b7f;
}