/* Position: static, relative, absolute, fixed, sticky */
/* left, right, bottom, top, z-index */
/* Media queries */
/* Selector d'atributs */

:root{
  --dark-grey: #3d3d3d;
  --dark-blue: #2f3039;
  --cream: #fcf1de;
  --red: #a75045;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
}

body{
  background-color: var(--cream);
  color: var(--dark-blue);

}
header, main, footer{
  padding: 20px;
}

header, footer{
  background-color: var(--dark-grey);
  color: var(--cream);
  position: relative;

}

#btn-menu {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
}

header nav {
  display: none;
  text-align: center;
  position: fixed;
  inset: 0;
  background-color: var(--dark-grey);
  z-index: 1200px;
}

header nav span {
  font-size: 1.5rem;
  padding: 20px 0;
  border-bottom: 1px solid #5555 ;
}

nav span {
  display: block;
}

#btn-menu:hover, nav span {
  cursor: pointer;
}


nav span:hover{
  text-decoration: underline;
}


header nav span{
  padding: 0 10px;
}

img[alt="logo"]{
  width: 50px;
}

.nav-visible {
  display: block;
}

/* .nav-invisible {
  display: none;
} */

#btn-close {
  display: block;
  padding: 20px;
  cursor: pointer;
}

/*main*/

.menu-sticky {
  padding: 20px;
  background-color: var(--red);
  color: var(--cream);
  position: sticky;
  top: 0;
}

.menu-sticky span {
  display: inline;
  padding: 0px 10px;
}
main {
  height: 1200px;
}

.pare {
  position: relative;
  display: block;
  background-color: var(--dark-blue);
  height: 200px;
  
}

.pare div{
  position: absolute;
  background-color: var(--red);
  width: 50px;
  height: 50px;
}

.pare div:first-child{
  background-color: var(--cream);
  left: 20px;
  top: 30px;
  z-index: 1000;
}

.pare div:nth-child(2){
  left: 40px;
  top: 50px;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}


@media (min-width: 700px) {
  header nav {
    display: block; /*initial*/
  }
  #btn-menu {
    display: none;
  }

  header nav {
  position: absolute;
  inset: auto;
  right: 20px;
  top: 50%;
  transform: translatey(-50%);
  }
}


