* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  text-align: center;
}

body {
  border-color: grey;
  border-style: solid;
  border-width: 3px;
  padding: 20px;
  margin: 20px;
  height: 700px;
  width: 95%;
  
}

h1 {
  color: white;
  background-color: #227C9D;
  padding: 30px 15px;
  margin: 0px 0px 20px 0px;
  border-style: dotted;
  border-color: #FFCB77;
  border-width: 5px;

}


nav {
  background-color: #333;
  padding: 15px;
  margin: 0px 10px;
}

li, a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  
}

.article {
  color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 0px 15px;
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 30%;
}

.article1 {
  background-color: #FFCB77;
}

.article2 {
  background-color: #17C3B2;
}

.article3 {
  background-color: #FE6D73;
}

h2 {
  margin: 0px 0px 10px 0px;
}

p {
  padding: 10px;
}


footer {
  background-color: #333;
  color: white;
  padding: 20px;
  margin: 30px 0px 0px 0px;
  border-color: #227C9D;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
}